body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
input, button{
    font: inherit;
}
p{
    text-decoration: dashed;
    text-transform: lowercase;
    text-align: justify;
    text-indent: 5em;
    line-height: 1.5;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}