@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 5% 10%;
    font-size: 2 rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol{
    list-style-type: lower-alpha;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: outside;
    /*list-style-image: url(MyLogo.jpg);*/
    color: blue;
}
ul li:nth-child(2){
    color: red;
}
ul ::marker{
    color: rgb(1, 132, 132);
    font-size: 1em;
    content: "n";
}