@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
a:visited{
    color: purple;
}
a:hover, a:focus{
    color: aquamarine;
}
a:active{
    color: red;
}