body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
h1{
    border: 2px greenyellow solid;
    font-size: 2rem;
    padding: 16px;
    width: 50%;
}
p{
    font-size: 0.9em;
    
}